.avatar {
  border-radius: 50%;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.post {
  margin: 10px;
}

.profile-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
